*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/*Vmin para font-size para que la letra se adapte*/
:root{

}
.header-main{
    background-image: url(../img/bg-header.png);
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position:center center;
    height: 100vh;
}

/*==========HEADER===============*/
.nav-main > div{
    margin-top: 4rem;
}

.nav-main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}
.nav-main > ul{
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
}
.nav-list > li{
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
}
.nav-list > li > a {
    font-size: 1.3rem;
    padding: 1rem;

}
.nav-list > li > a:hover{
    color: rgb(255, 196, 4);
}
.nav-list li > a::before{
    content: '';
    width: 0;
    height: 4px;
    background-color: rgb(255, 153, 0);
    position: absolute;
    bottom: -0.5rem;
    right: 0px;
    transition: 0.4s ease-in-out ;
}
.nav-list li:hover a::before{
    width: 100%;
}
@media(max-width: 600px){
    .nav-main > ul{
        flex-direction: column;
        
    }
    .nav-main img{
        width: 80%;
    }
}
/*==========CONTENIDO================*/
.contenido{
    color: white;
    text-align: center;
}
.content-decripcion p{
    width: 50%;
    margin: 2rem auto;
    height: 100%;
}
.content-info{
    display: flex;
}
.content-img img{
    width: 23%;
    border-radius: 1.5rem;
}
@media(max-width: 600px){
    .content-info{
        flex-wrap: wrap;
    }
    .nav-list{
        position: absolute;
        top: -5555px;
    }
}


/*===============Tarjets 01================*/
main{
    background-color: rgb(34, 34, 34);
}
.main-section{
    position: relative;
    height:45vh;
}
.section-tarjets{
    display: flex;
    position: absolute;
    top: -9rem;
    justify-content: center;
    margin: auto 5%;
}
.tarjet{
    background-color: rgba(255, 208, 0, 0.719);
    width:30%;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}
.tarjet img{
    width: 100%;
}

.section-tarjets-info{
    display: flex;
    top: -9rem;
}

@media(max-width: 1056px){
    .main-section{
        height: auto;
        
    }
    .section-tarjets{
        position:relative;
        top: 0;
        flex-wrap: wrap;
        margin: auto auto;
    }
}
@media(max-width: 600px){
    .tarjet{
        width: 100%;
    }
}
/*=========CONFIGURACION INTERNA DE LAS TARJETAS 01=============*/


.btn-tema{
    color: white;
    text-decoration:none;
    margin: 1rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 0.2rem;
    padding: 1rem 1rem;
    display: inline-block;
    font-size: 1.2rem;
    box-shadow: 1px 1px 12px rgb(59, 59, 59);

}

.imgTema2{
    margin: 0 auto;
    width: 40%;
    display: flex;
}

.lista-web{
    text-align: left;
    margin-left: 2rem;
}
/*===================Section 02 ===============*/
.section-tarjets-info{
    display: flex;
    height: auto;
    
}
.tarjet-info{
    background-color:  rgb(34, 34, 34);
    width:30%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}
.formulario{
    margin: 2rem;
    text-align: left;
}
.formulario input{
    width: 100%;
    height: 2rem;
    margin: 1rem auto;
}
.formulario textarea{
    width: 100%;
    margin: 1rem auto;
}
.metasObjetivos{
    margin: 10%;
    text-align: left;
}
.metasObjetivos p{
    padding: 0.5rem;
    width: 100%;
}
.metasObjetivos svg{
    color: rgb(255, 217, 0);
    margin-right: 20px
}
.tarjet-info h1{
    color: rgb(255, 196, 0);
}










@media(max-width: 886px){
    .section-tarjets-info{
        flex-wrap: wrap;
    }
    .tarjet-info{
        width: 100%;
    }
}



















/*==================== FOOTER =================*/
footer{
    background-color: black;
    color: white;
}
footer > p {
    padding: 3rem;
}