*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
:root{

}
.header-main{
    background-image: url(../img/bg-header.png);
    background-color: black;
    background-attachment: fixed;
    height: 100vh;
}

/*==========HEADER===============*/
.nav-main > div{
    margin-top: 4rem;
}

.nav-main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}
.nav-main > ul{
    display: flex;
    justify-content: center;
    color: white;
}
.nav-list > li{
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.nav-list > li > a {
    font-size: 1.3rem;
    padding: 1rem;
}
.nav-list > li > a:hover{
    color: rgb(255, 196, 4);
}

/*==========CONTENIDO================*/
.contenido{
    color: white;
    text-align: center;
}



/*===============Tarjets================*/
main{
    background-color: rgb(34, 34, 34);
}
.main-section{
    position: relative;
    height:40vh;
}
.section-tarjets{
    display: flex;
    position: absolute;
    top: -9rem;
    
}
.tarjet{
    background-color: rgba(255, 208, 0, 0.719);
    width:30%;
    height: 25rem;
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}



.section-tarjets-info{
    display: flex;
    top: -9rem;
    
}
.tarjet-info{
    background-color:  rgb(34, 34, 34);
    width:30%;
    height: 25rem;
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
}
footer > p {
    padding: 3rem;
}